@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Konfiguriši aplikaciju za autentifikator";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>Da biste koristili aplikaciju za autentifikator prodjite kroz sljedece korake:</p>
    <ol class="list">
        <li>
            <p>
                Preuzmite aplikaciju za autentifikator sa dva faktora kao sto su Microsoft Autentifikator za
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> i
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> ili
                Google Autentifikator za
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Skenirajte QR kod ili unesite ovaj kljuc <kbd>@Model.SharedKey</kbd> u vasu aplikaciju autentifikatora dva faktora. Prostori i kućište nisu važni.</p>
            <div class="alert alert-info">Saznajte kako  <a href="https://go.microsoft.com/fwlink/?Linkid=852423">omoguciti QR kod generaciju</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Nakon skeniranja QR koda ili unosa kljuca iznad, vaša aplikacija za potvrdu autenticnosti dva faktora će vam pruziti jedinstveni
                kod. Unesite sifru u okvir za potvrdu ispod.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Verifikacioni kod</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Potvrdi</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
