@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Resetuj aplikaciju za autentifikator";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ako resetujete autentifikator kljuc vasa  autentifikator aplikacija nece raditi dok je ponovo ne konfigurisete.</strong>
    </p>
    <p>
        Ovaj proces onemogucava 2FA dok ne potvrdite svoju autentifiaktor aplikaciju. Ako ne dovrsite konfiguraciju autentifiaktor aplikaciju,
        mozete izgubiti pristup vasem racunu.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetuj autentifikacioni kljuc</button>
    </form>
</div>