@{
    ViewData["Title"] = "Home Page";
}



<div class="row">  
    <div class="col-md-6">

    </div>
 
    <div class="col-md-6"></div>
    <script>
        var map;
        function initMap()
        {
            map = new google.maps.Map(document.getElementById('map'),
                {
                    center: { lat: -34.397, lng: 150.664 },
                    zoom: 8
                });

        }
    </script>
</div>