
    <h1 style="font-family: cursive"> Politika privatnosti za Laboratoriju</h1>
    <p style="font-family: cursive">Ako vam je potrebno više informacija ili imate pitanja o nasoj politici privatnosti, slobodno nas kontaktirajte putem email na lab@gmail.com.</p>
    <p style="font-family: cursive">Smatramo da je privatnost nasih posjetilaca izuzetno vazna.Ovaj dokument o politici privatnosti detaljnoopisuje vrste ličnih podataka koje  <a href="/Home">Laboratorija</a>  prikuplja i biljezi i kako ih koristimo. </p>
    <p style="font-family: cursive">
        <b >Log fajlovi </b><br />
        Kao i mnoge druge web stranice, <a href="/Home">Laboratorija</a> koristi log fajlove.Ove datoteke samo evidentiraju posjetioce stranice - obicno standardna procedura za hosting kompanije i dio analize hostinga. Informacije unutar datoteka dnevnika ukljucuju adrese Internet protokola (IP), tip pretrazivaca, Internet provajdera (ISP), datum/vrijeme, reference/izlazne stranice i mogući broj klikova. Ove informacije se koriste za analizu trendova, administriranje stranice, pracenje kretanja korisnika na stranici i prikupljanje demografskih informacija. IP adrese i druge takve informacije nisu povezane ni sa kakvim ličnim podacima.
    </p>
    <p style="font-family: cursive">
        <b >
            Kolacići i Web Beacons
        </b><br /><a href="/Home">Laboratorija</a>koristi kolacice za skladistenje informacija o preferencijama posjetilaca za snimanje korisnickih informacija o tome kojim stranicama posjetilac stranice pristupa ili posjecuje te za personalizaciju ili prilagodjavanje sadrzaja nase web stranice na osnovu tipa pregledaca posjetilaca ili drugih informacija koje posjetilac salje putem svojih pretrazivaca.
    </p>
    <p style="font-family: cursive"><b>DoubleClick DART kolacic</b><br /> </p>
    <p style="font-family: cursive">
        → Google, kao dobavljas trece strane, koristi kolacice za prikazivanje oglasa <a href="/Home">Laboratorija</a>.<br /><br />
        → Google-ova upotreba DART kolacica omogucava mu da posluzuje oglase posjetilaca nase stranice na osnovu njihove posjete [URL VASE SAJTE] i drugim web lokacijama na Internetu. <br /><br />
        → Korisnici mogu odustati od upotrebe DART kolacica posjetom Google oglasnoj politici i politici privatnosti na sadrzajnoj mrezi na sljedecem URL-u – <a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a>
    </p>
    <p style="font-family: cursive"><b>Nasi partneri za oglasavanje</b><br /> </p>
    <p style="font-family: cursive"> Neki od nasih partnera za oglasavanje mogu koristiti kolacice i web beacons na našoj web stranici.Nasi reklamni partneri su ……. <br /></p>
    <ul style="font-family: cursive">
        <li>Google</li>
        <li>Commission Junction</li>
        <li>Amazon</li>
        <li>Adbrite</li>
        <li>Clickbank</li>
        <li>Yahoo! Publisher Network</li>
        <li>Chitika</li>
        <li>Kontera</li>
    </ul>
    <p style="font-family: cursive">
        <em>
            Iako svaki od ovih reklamnih partnera ima svoju Politiku privatnosti za svoju web lokaciju, ovdje se odrzava azurirani resurs s hiperlinkovima: <a href="https://www.privacypolicyonline.com/privacy-policy-links/">Veze za Pravila privatnosti </a>.<br /> <br />
            Mozete pogledati ovu listu kako biste pronasli politiku privatnosti za svakog od reklamnih partnera <a href="/Home">Laboratorija</a>.

        </em>
    </p>
    <p style="font-family: cursive"> Ovi oglasni serveri ili oglasne mreze trece strane koriste tehnologiju u svojim oglasima i linkovima koji se pojavljuju na <a href="/Home">Laboratorija</a> i koji se salju direktno u Vas preglednik. Oni automatski primaju Vasu IP adresu kada se to dogodi. Druge tehnologije (kao sto su kolacici, JavaScript ili Web Beacons) također mogu koristiti oglasne mreze trece strane na nasoj web stranici za mjerenje ucinkovitosti njihovih reklamnih kampanja i/ili za personalizaciju reklamnog sadrzaja koji vidite na web stranici. </p>
    <p style="font-family: cursive"> <a href="/Home">Laboratorija</a> nema pristup niti kontrolu nad ovim kolačićima koje koriste oglašivači trećih strana. </p>
    </p>
    <p style="font-family: cursive">
        <b>Pravila privatnosti trećih strana</b><br />
        Za detaljnije informacije o njihovim praksama, kao i za upute o tome kako se odustati od određenih praksi, trebate pogledati odgovarajuca pravila privatnosti ovih servera oglasa trećih strana. Politika privatnosti [YOUR SITE URL] se ne odnosi na, i ne mocemo kontrolisati aktivnosti takvih drugih oglasivaca ili web stranica. Sveobuhvatan popis ovih pravila privatnosti i njihovih veza mozete pronaci ovdje: <a href="https://www.privacypolicyonline.com/privacy-policy-links/" title="Privacy Policy Links">Veze politike privatnosti</ a>.
    </p>
    <p style="font-family: cursive">Ako xelite da onemogucite kolacice, to mozete uciniti putem pojedinacnih opcija pretrazivaca. Detaljnije informacije o upravljanju kolacicima sa odredjenim web pretrazivacima mogu se pronaci na odgovarajucim web stranicama pretrazivaca. <a href="https://www.privacypolicyonline.com/what-are-cookies/">Sta su kolacici?</a></p>
    <p style="font-family: cursive">
        <strong>Informacije o djeci</strong><br />Vjerujemo da je vazno pruziti dodatnu zastitu djeci na mrezi. Podsticemo roditelje i staratelje da provode vrijeme na mrezi sa svojom djecom kako bi posmatrali, ucestvovali i/ili nadgledali i usmjeravali njihove aktivnosti na mrezi.<br />
        <a href="/Home">Laboratorija</a> svjesno ne prikuplja nikakve lizne podatke od djece mladje od 13 godina. Ako roditelj ili staratelj vjeruje da <a href="/Home">Laboratorija< /a> ima u svojoj bazi podataka licne podatke o djetetu mlađem od 13 godina, molimo vas da nas odmah kontaktirate (koristeci kontakt u prvom paragrafu) i mi cemo dati sve od sebe da takve podatke brzo uklonimo iz nase evidencije.
    </p>
    <p style="font-family: cursive">
        <b>Samo Politika privatnosti na mrezi</b><br />
        Ova politika privatnosti odnosi se samo na nase online aktivnosti i vaze za posjetitelje nase web stranice i za informacije koje se tamo dijele i/ili prikupljaju.<br />
        Ova politika se ne odnosi na informacije prikupljene van mreze ili putem drugih kanala osim ove web stranice.
    </p>
    <p style="font-family: cursive">
        <b>Saglasnost</b><br />
        Koristenjem nase web stranice, ovime pristajete na nasu politiku privatnosti i slazete se s njenim uslovima.
    </p>
    <p style="font-family: cursive"><b>Azuriraj</b><br />Ova Politika privatnosti je posljednji put azurirana 1. novembra 2019. Ako azuriramo, dopunimo ili unesemo bilo kakve promjene u nasu politiku privatnosti, te promjene ce biti objavljene ovdje. 
    <p><!-- KRAJ Politike privatnosti || Generirano od strane http://www.PrivacyPolicyOnline.com || --></p>
    <p>

