@model diplomskirad.Models.Parametar

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kreiraj Nalaz sa Parametrima</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vrijednost" class="control-label"></label>
                <input asp-for="Vrijednost" class="form-control" />
                <span asp-validation-for="Vrijednost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NalazID" class="control-label"></label>
                <select asp-for="NalazID" class ="form-control" asp-items="ViewBag.NalazID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SifarnikID" class="control-label"></label>
                <select asp-for="SifarnikID" class ="form-control" asp-items="ViewBag.SifarnikID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"  style="font-family:cursive"> Vrati se </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
