@page
@model LockoutModel
@{
    ViewData["Title"] = "Zakljucano";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ovaj račun je zaključan, pokušajte ponovo kasnije.</p>
</header>
